



.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation {

  max-width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(-45deg, #b25f2b, #e17637);
  border-bottom: solid #640264 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.header__navigation {
    height: auto;


}

.header__navigation__logo {
  position: absolute;
  float: left;
  background-image: url(../images/logo_kosarkaski_klub.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin: 6px  0 0 6px;
}



.navigation__link {
  letter-spacing: 0.01em;
    display: block;
    color: #324d5c;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-family: mySecondFont;
    font-size: 25px;
}

.navigation__link:active {
  background-color: lightgray;
  color: black;
}


.navigation__dropdown {

    background-color: #a05527;
    min-width: 132px;
    z-index: 1;
    list-style-type: none;
    padding-left: 0;

}

.navigation__dropdown-link {
    letter-spacing: 0.02em;
    font-size: 20px;
    font-family: mySecondFont;
    color: #29404d;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navigation__dropdown-link:active {
  background-color: lightgray;
  color: black;
}





.navigation__item--has-dropdown:hover .navigation__dropdown {
    display: block;
}

@media screen and (min-width: 800px){
  .container {
    max-width: 100%;
  }

  .navigation {
    width: 100%;
  }

  .header__navigation__logo {
    width: 37px;
    height: 37px;
    margin: 13px  0 0 6px;
  }

  .navigation__item {
      float: right;
  }

  .navigation__link {
      display: inline-block;
      padding: 12px 10px 0 10px;

      font-size: 50px;
  }




  .navigation__dropdown {
      min-width: 132px;
      display: none;
      position: absolute;
      padding-left: 0;
  }

  .navigation__dropdown-link {
      letter-spacing: 0.02em;
      font-size: 20px;
      font-family: mySecondFont;
      color: #29404d;
      padding: 4px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
  }

}



@media screen and (min-width: 1025px) {

  .header {
    left: calc(50% - 425px);
  }

  .navigation {
    width: 850px;
  }

  .header__navigation__logo {
    width: 37px;
    height: 37px;
    margin: 13px  0 0 6px;
  }

  .navigation__item {
      float: right;
  }

  .navigation__link {
      display: inline-block;
      padding: 12px 10px 0 10px;

      font-size: 50px;
  }

  .navigation__link:hover {
      background: #ddd;
      color: black;
    }

  .navigation__dropdown-link:hover {
      background-color: #f1f1f1
  }

  .navigation__dropdown {
      min-width: 132px;
      display: none;
      position: absolute;
      padding-left: 0;
  }




}
